<h3>CPMAI (Cognitive Project Management for Artificial Intelligence Methodology)</h3>

<p>CPMAI extends the well-known CRISP-DM methodology with AI and ML specific documents, processes, and tasks. The
  CPMAI methodology also incorporates the latest practices in Agile Methodologies and adds additional DataOps
  activities that aim to make CPMAI data-first, AI-relevant, highly iterative, and focused on the right tasks for
  operational success.</p>

<h3>Key concepts</h3>

<p>The CPMAI methodology is composed of six primary phases:</p>

<table>
  <td style="vertical-align:top">
    <img src="assets/img/cpmai_phases.png" height="800"  style="padding-right: 30px; padding-bottom: 30px;">
  </td>
  <td style="vertical-align:top">
    <ul>
      <li><b>Business understanding:</b></li>
      <ul>
        <li>What are the core business requirements and objectives?</li>
        <li>Why does this project need AI?</li>
        <li>How would we meet those needs with AI?</li>
        <li>How can we succeed and not fail in bad ways?</li>
      </ul>
      <li><b>Data understanding:</b></li>
      <ul>
        <li>What are the core data requirements and objectives?</li>
        <li>Where are the AI-relevant data sources?</li>
        <li>What type of data is available for AI projects to meet business objectives?</li>
        <li>What is the quality of the available data?</li>
      </ul>
      <li><b>Data preparation:</b></li>
      <ul>
        <li>Get the data into a condition where it can be used to address business requirements</li>
        <li>Selection, ingestion, and combination of data</li>
        <li>Cleansing, labeling, and data preparation</li>
        <li>Data formatting, augmentation, construction of data</li>
      </ul>
      <li><b>Data modeling:</b></li>
      <ul>
        <li>Select Modeling Techniques</li>
        <li>Algorithm selection</li>
        <li>Modeling Assumptions</li>
        <li>Generate Test Design</li>
        <li>Model development and iteration</li>
        <li>Hyperparameter optimization method</li>
        <li>Model assessment</li>
        <li>Model iteration</li>
      </ul>
      <li><b>Model evaluation:</b></li>
      <ul>
        <li>Is the trained model actually learning?</li>
        <li>Does the model really work against validated data?</li>
        <li>Is the model right and wrong in acceptable ways?</li>
      </ul>
      <li><b>Model operationalization:</b></li>
      <ul>
        <li>Putting AI models into operation</li>
        <li>Inference phase of AI</li>
        <li>Model deployment configuration</li>
        <li>Real-world model monitoring and management</li>
      </ul>
    </ul>
  </td>
</table>

<h2>Pros & cons</h2>

<table style="width:100%" border="1">
  <tr>
    <th style="text-align:middle">Pros</th>
    <th style="text-align:middle">Cons</th>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <ul>
        <li><b>AI-specific extension of CRISP-DM:</b> Extends the well-known CRISP-DM methodology with AI and ML
          specific documents, processes, and tasks. </li>
        <li><b>Agile extension of CRISP-DM:</b> Incorporates practices from agile methodologies.</li>
      </ul>
    </td>
    <td style="vertical-align:top">
      <ul>
        <li><b>Proprietary:</b>Cognilytica-developed methodology. Congilytica provides CPMAI training and
          certification.</li>
      </ul>
    </td>
  </tr>
</table>

<h2>References</h2>

<ul>
  <li><a href="https://www.cognilytica.com/cpmai-methodology/" target="_blank" rel="noopener noreferrer">CPMAI
      Methodology</a></li>
</ul>

<p></p>