<!DOCTYPE html>
<html>

<body>

  <h3>Why agile for AI projects?</h3>

  <p>Agile software development was popularized by the <a href="https://agilemanifesto.org/" target="_blank" rel="noopener noreferrer">Agile Manifesto</a> as a
    backlash to the heavyweight <a href="https://en.wikipedia.org/wiki/Waterfall_model" target="_blank" rel="noopener noreferrer">waterfall-like
      methodologies</a>. Agile prescribes a lightweight and more flexible approach to delivering software through
    iterations and increments.</p>

  <p>While agile software frameworks such as <a href="https://www.scrum.org/resources/what-is-scrum/" target="_blank" rel="noopener noreferrer">Scrum</a> have
    become the de facto way of developing and delivering software today, these frameworks do not necessarily translate
    well when applied to data science projects. There is a
    fundamental difference between delivering <i>software products</i> and delivering <i>actionable insights from
      data</i> as project results.</p>

  <p>However, many agile principles still applies and are advantageous for data science projects:</p>
<p></p>
  <ul>
    <li><b>Evolving requirements:</b> Business owners and data scientists agree on high-level requirements early and
      and keep reviewing them as the project grows.</li>
    <li><b>Increments and iterations:</b> Data scientists produces evolving models and releases that are very
      user-focused. Insight into data comes from multiple iterations, not the first attempt.</li>
    <li><b>Customer involvement:</b> Customer gains a stronge sense of ownership being directly involved with the
      development team.</li>
  </ul>

  <h3 class="padding-top">Overview of agile AI frameworks</h3>

  <p>To support data science projects, new agile frameworks have emerged and some existing
    agile frameworks have been adjusted accordingly. Today a few agile AI frameworks exists. According to a study
    presented in the paper <a href="https://ieeexplore.ieee.org/abstract/document/9377813" target="_blank" rel="noopener noreferrer">"Identifying the most
      Common
      Frameworks Data Science Teams Use to Structure and Coordinate their Projects"</a> by Saltz et al., CRISP-DM
    (CRoss Industry Standard Process for Data Mining) and Scrum are the two most popular frameworks in use.
    Surprisingly, "My Own" framework scored as the fourth in popularity.</p>

  <p>Below we present a selection of frameworks for data science or AI projects, and also introduce a typical data
    science process as a starting point for the "My Own" framework suitable for small-scale and exploratory data
    experiments.</p>

  <p>Today a few agile AI frameworks exists:</p>
  <p></p>
  <a routerLink="/agile-ai-frameworks/data-science-research-dev"><img src="assets/img/data_science_process.png"
      height="300"></a>
  <a routerLink="/agile-ai-frameworks/data-driven-scrum"><img src="assets/img/data_driven_scrum.png" height="300"></a>
  <a routerLink="/agile-ai-frameworks/microsoft-tdsp"><img src="assets/img/microsoft_tdsp.png" height="300"></a>
  <a routerLink="/agile-ai-frameworks/crisp-dm"><img src="assets/img/crisp-dm.png" height="300"></a>
  <a routerLink="/agile-ai-frameworks/cpmai"><img src="assets/img/cpmai.png" height="300"></a>

  <h3 class="padding-top">Selecting an AI framework for your project</h3>

  <p>Below we present a comparison table that gives you some guidelines for selecting an AI framework that best fits
    your data science project. Click on the table to get details in full-text format.</p>
<p></p>

  <a routerLink="/agile-ai-frameworks/comparison-table"><img src="assets/img/framework_comparison_table.png" height="200"></a>

  <p></p>

</body>

</html>