<!DOCTYPE html>
<html>

<body>

    <h3>Selecting an AI framework for your project</h3>

    <p>Below we present a comparison table that gives you some guidelines for selecting an AI framework that best fits
      your data science project. We define some selection criteria to help you decide:</p>

    <ul>
      <li><b>Project size (team size):</b> The size of the project and team.</li>
      <li><b>Maturity level:</b> We classify prototypes/models according to their maturity level. An <i>experiment</i>
        is the lowest maturity level. It represents a "one-shot" effort to build something to test some ideas. A
        <i>project artefact</i> represents a solution/model that is produced as a formal deliverable and used by
        external partners. A <i>flagship artefact</i> are mature solutions/models that is reused in several projects and
        thus requires maintenance over longer period of time. It involves a project team of at least 2 persons.
      </li>
      <li><b>Popularity:</b> How popular are the framwork with other (professionals). We base this on the study
        presented in the paper <a href="https://ieeexplore.ieee.org/abstract/document/9377813" target="_blank" rel="noopener noreferrer">"Identifying the most
          Common Frameworks Data Science Teams Use to Structure and Coordinate their Projects"</a> by Saltz et al. </li>
      <li><b>Technology dependencies:</b> Whether the framework is oriented towards a specific technology
        platform.</li>
      <li><b>Tool support and available documentation: </b>Availability of tools and documentation (e.g., user guides)
        that makes it easy to start using the framework.</li>
    </ul>

    <h3>Comparison table</h3>

    <p></p>

    <table style="width: 80%" border="1">
      <tr>
        <th width="15%" style="text-align:left">Criteria / Framework</th>
        <th width="15%" style="text-align:left"><img src="assets/img/data_science_process.png" height="300"></th>
        <th width="15%" style="text-align:left"><img src="assets/img/data_driven_scrum.png" height="300"></th>
        <th width="15%" style="text-align:left"><img src="assets/img/microsoft_tdsp.png" height="300"></th>
        <th width="15%" style="text-align:left"><img src="assets/img/crisp-dm.png" height="300"></th>
        <th width="15%" style="text-align:left"><img src="assets/img/cpmai.png" height="300"></th>
      </tr>
      <tr>
        <th style="text-align:left">Project size (team size)</th>
        <td>Small (1-2 person)</td>
        <td>Small (2++ persons)</td>
        <td>Small/Medium-Large (2++ persons)</td>
        <td>Medium-Large</td>
        <td>Medium-Large</td>
      </tr>
      <tr>
        <th style="text-align:left">Maturity level</th>
        <td>Experiment</td>
        <td>Project-Flagship</td>
        <td>Project-Flagship</td>
        <td>Flagship (established external user base)</td>
        <td>Flagship (established external user base)</td>
      </tr>
      <tr>
        <th style="text-align:left">Popularity</th>
        <td>Medium (4th, "My Own") </td>
        <td>High (2nd, "Scrum")</td>
        <td>Medium (5th)</td>
        <td>High (1st)</td>
        <td>?</td>
      </tr>
      <tr>
        <th style="text-align:left">Technology dependencies</th>
        <td>Technology agnostic</td>
        <td>Technology agnostic</td>
        <td>Tools and templates are focused on the Microsoft Azure Platform, but the process itself is technology
          agnostic</td>
        <td>Technology agnostic</td>
        <td>Technology agnostic</td>
      </tr>
      <tr>
        <th style="text-align:left">Tool support and available documentation</th>
        <td>A typical data science process that can be used with many avilable data science tools.</td>
        <td>User guide available online for free</td>
        <td>Detailed user guide, with tool support available for free</td>
        <td>Comprehensive user guide available for free</td>
        <td>Training and certification only commercially available</td>
      </tr>
    </table>

</body>

</html>